html,
body {
    padding: 0;
    margin: 0;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-align: left;
    color: #000000;
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

/*хидер*/
.main-header {
    background-color: #f4f7f9
}

.main-header__top {
    background-color: #293449;
}

.main-header__top .main-header__top_logo {
    background-color: #ee3643;
}

.main-header__top a {
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    background-color: #293449;
}

.main-header__top .main-header__top_place {
    background-color: #63a63e;
}

.main-header__section h1 {
    color: #ee3643;
    font-size: 16px;
    line-height: 23px;
    font-style: italic;
    width: 200px;
}

..main-header__section .main-header__section_adress {
    color: #32425c;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
}

.main-header__section a {
    color: #32425c;
}

.main-header__section .main-header__section_phone {
    color: #ee3643;
    font-size: 21px;
    line-height: 21px;
    border: 3px solid #ffffff;
}

.main-header__section_authorized .main-header__section_profile {
    font-size: 21px;
    line-height: 21px;
    color: #000000;
}

.main-header__section_not-authorized,
.main-header__section_authorized {
    list-style: none;
}

.main-header__section li {
    background-color: #ffffff;
}

.main-header__nav {
    width: 940px;
    height: 60px;
    margin: auto;
    background-color: #293449;
    box-shadow: 0px 5px 0 0 #293449;
}

.main-header__nav_items {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.main-header__nav a {
    font-size: 17px;
    line-height: 17px;
    color: #ffffff;
    background-color: #293449;
}

/*
font-family: "PT Sans", "Arial", sans-serif;*/

.filter__manufacturer li,
.filter__power li {
    margin: 15px
}

.filter__manufacturer label,
.filter__power label {
    position: relative;
    margin-left: 10px;
    cursor: pointer;
}

.filter__manufacturer label::before,
.filter__power label::before {
    position: absolute;
    top: -5px;
    left: -40px;
    width: 20px;
    height: 20px;
    border: 2px solid #c5c5c5;
    background-color: white;
    border-radius: 2px;
    content: "";
}

.filter__power label::before {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 5px solid #c5c5c5;
}

.filter__manufacturer label::after,
.filter__power label::after {
    position: absolute;
    top: 7px;
    left: -35px;
    z-index: 1;
    width: 0px;
    height: 0px;
    content: "";
    opacity: 0;
    transform: rotate(135deg);
    transition: 0.2s ease-in;
}

.filter__power label::after {
    top: 7px;
    left: -30px;
    border-radius: 50%
}


.filter__manufacturer input[type="checkbox"]:checked ~ label::after {
    top: -8px;
    left: -34px;
    width: 22px;
    height: 9px;
    box-shadow:
        0px -1px white,
        4px -5px #c5c5c5,
        0px -6px white;
    opacity: 1;

}

.filter__power input[type="radio"]:checked ~ label::after {
    top: 4px;
    left: -31px;
    width: 10px;
    height: 10px;
    background-color: #c5c5c5;
    opacity: 1;
}

h2 {

}
