html,
body {
    padding: 0;
    margin: 0;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-align: left;
    color: #000000;
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

/*хидер*/
.main-header {
    background-color: #f4f7f9
}

.main-header__top {
    background-color: #293449;
}

.main-header__top .main-header__top_logo {
    background-color: #ee3643;
}

.main-header__top a {
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    background-color: #293449;
}

.main-header__top .main-header__top_place {
    background-color: #63a63e;
}

.main-header__section h1 {
    color: #ee3643;
    font-size: 16px;
    line-height: 23px;
    font-style: italic;
    width: 200px;
}

..main-header__section .main-header__section_adress {
    color: #32425c;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
}

.main-header__section a {
    color: #32425c;
}

.main-header__section .main-header__section_phone {
    color: #ee3643;
    font-size: 21px;
    line-height: 21px;
    border: 3px solid #ffffff;
}

.main-header__section_authorized .main-header__section_profile {
    font-size: 21px;
    line-height: 21px;
    color: #000000;
}

.main-header__section_not-authorized,
.main-header__section_authorized {
    list-style: none;
}

.main-header__section li {
    background-color: #ffffff;
}

.main-header__nav {
    width: 940px;
    height: 60px;
    margin: auto;
    background-color: #293449;
    box-shadow: 0px 5px 0 0 #293449;
}

.main-header__nav_items {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.main-header__nav a {
    font-size: 17px;
    line-height: 17px;
    color: #ffffff;
    background-color: #293449;
}

main h2 {
    text-transform: uppercase;
}

main .btn {
    display: table-cell;
    background-color: #ee3643;
    border-radius: 2px;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    width: 300px;
    height: 38px;
}

/*OFFERS*/
.offers {
    color: #ffffff;
    font-size: 14px;
    line-height: 18px;
}

.offers h3 {
    font-size: 24px;
    line-height: 30px
}

.offers .offers__btn {
    width: 135px;
    background-color: rgba(0, 0, 0, 0.1);
}

.offers li {
    width: 300px;
    height: 123px;
}

.offers__materials {
    background-color: #ffbf47;
}

.offers__tools {
    background-color: #3bbce3;
}

.offers__drills,
.offers__perforators {
    background-color: #000000;
}

.offers__slides a {
    width: 195px;
    height: 38px;
    background-color: #ee3643;
}

.offers__drills h3,
.offers__perforators h3 {
    text-transform: uppercase;
}

.offers__equipment {
    background-color: #dc91d8;
}

.offers__discounts {
    background-color: #8ed78f
}

.offers__delivery {
    background-color: #ffc047
}

/*POPULAR*/
.title__container {
    background-color: #f9f5f0;
    width: 940px;
    height: 89px;
}

.popular-product__cards {
    display: flex;
    list-style: none;
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: bold;
    text-align: center;
}

.popular-product__cards a {
    display: none;
}

.popular-product__card_btn-hover:first-of-type {
    width: 135px;
    color: #ffffff;
    background-color: #63a63e;
    box-shadow: inset 0 3 0 0 #367315;
}

.popular-product__card_btn-hover:last-of-type {
    width: 135px;
    color: #32425c;
    background-color: #ffffff;
    border: 3px solid #63a63e;
}

.popular-product__card span:first-of-type {
    color: #a9a9a9;
    text-decoration: line-through;
}

.popular-product__card span:last-of-type {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    width: 132px;
    height: 38px;
    color: #ffffff;
    background-color: #ee3643;
}

.popular-product__card span:last-of-type::after {
    position: absolute;
    top: 0;
    right: -38px;
    content: "";
    width: 0;
    height: 0;
    border: 19px solid white;
    border-left:  19px solid #ee3643;
    background-color: transparent;
}

.popular-manufacturer__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.popular-manufacturer__list li {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #eaeaea;
    width: 220px;
    height: 145px;
}
/*
font-family: "PT Sans", "Arial", sans-serif;*/

.filter__manufacturer li,
.filter__power li {
    margin: 15px
}

.filter__manufacturer label,
.filter__power label {
    position: relative;
    margin-left: 10px;
    cursor: pointer;
}

.filter__manufacturer label::before,
.filter__power label::before {
    position: absolute;
    top: -5px;
    left: -40px;
    width: 20px;
    height: 20px;
    border: 2px solid #c5c5c5;
    background-color: white;
    border-radius: 2px;
    content: "";
}

.filter__power label::before {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 5px solid #c5c5c5;
}

.filter__manufacturer label::after,
.filter__power label::after {
    position: absolute;
    top: 7px;
    left: -35px;
    z-index: 1;
    width: 0px;
    height: 0px;
    content: "";
    opacity: 0;
    transform: rotate(135deg);
    transition: 0.2s ease-in;
}

.filter__power label::after {
    top: 7px;
    left: -30px;
    border-radius: 50%
}


.filter__manufacturer input[type="checkbox"]:checked ~ label::after {
    top: -8px;
    left: -34px;
    width: 22px;
    height: 9px;
    box-shadow:
        0px -1px white,
        4px -5px #c5c5c5,
        0px -6px white;
    opacity: 1;

}

.filter__power input[type="radio"]:checked ~ label::after {
    top: 4px;
    left: -31px;
    width: 10px;
    height: 10px;
    background-color: #c5c5c5;
    opacity: 1;
}

h2 {

}
