html,
body {
    padding: 0;
    margin: 0;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-align: left;
    color: #000000;
    background-color: #ffffff;
    box-sizing: border-box;
}

*, *::before, *::after { box-sizing: inherit; }

a { text-decoration: none; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}



/*---------------------------------HEADER-----------------------------------*/
.main-header {
    display: flex;
    flex-direction: column;
    background-color: #f4f7f9;
    margin: auto;
}

.main-header__top {
    background-color: #293449;
    margin-bottom: 46px;
}

.main-header__top_container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    width: 940px;
    margin: auto;
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    background-color: #293449;
}

.main-header__top .main-header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2px;
    position: absolute;
    left: 0;
    width: 220px;
    height: 52px;
    background-color: #ee3643;
    box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.24)
}

.main-header__top a {
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    background-color: #293449;
}

.main-header__top input {
    opacity: 0;
    width: 220px;
    height: 42px;
    margin-right: 44px;
    z-index: 1;
    transition: 0.5s
}

.main-header__top label {
    position: relative;
    left: 49px;
    z-index: 0
}

.main-header__top label {
    position: relative;
    left: 49px;
    z-index: 0
}

.main-header__top input:focus {
    position: absolute;
    top:0;
    left: 265px;
    opacity: 1;
}

.main-header__top input:focus ~ .main-header__top label {
    color: transparent
}

.main-header__top label::before {
    position: absolute;
    top: 1px;
    left: -31px;
    width: 17px;
    height: 17px;
    content: "";
    background-color: #293449;
    background-image: url(img/general/icon/search.svg);
}

.main-header__top_bookmarks {
    position: relative;
    margin-right: 78px;
}

.main-header__top_bookmarks::before {
    position: absolute;
    left: -27px;
    width: 14px;
    height: 16px;
    content: "";
    background-image: url(img/general/icon/bookmark.svg);
}

.main-header__top_basket {
    position: relative;
    margin-right: 30px;
}

.main-header__top_basket::before {
    position: absolute;
    left: -32px;
    width: 15px;
    height: 15px;
    content: "";
    background-image: url(img/general/icon/basket.svg);
}

.main-header__top .main-header__top_place {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 42px;
    background-color: #63a63e;
}




.main-header__section {
    display: flex;
    justify-content: flex-end;
    width: 940px;
    margin: auto;
    margin-bottom: 40px;
}

.main-header__section h1 {
    margin: 0;
    font-weight: normal;
    color: #ee3643;
    font-size: 16px;
    line-height: 23px;
    font-style: italic;
    align-self: flex-end;
    width: 200px;
    margin-left: 52px;
    margin-right: 68px;
}

.main-header__section a {
    color: #32425c;
}

.main-header__section li {
    background-color: #ffffff;
}

.main-header__section_contacts {
    display: flex;
    flex-direction: column;
    margin-right: auto;
}

.main-header__section .main-header__section_phone {
    display: block;
    width: 270px;
    position: relative;
    height: 45px;
    color: #ee3643;
    font-size: 21px;
    line-height: 21px;
    padding: 9px 49px 12px 71px;
    border: 3px solid #ffffff;
    margin-bottom: 3px
}

.main-header__section .main-header__section_phone::before {
    position: absolute;
    top: 10px;
    left: 12px;
    width: 19px;
    height: 19px;
    content: "";
    background-image: url(img/general/icon/phone.svg);
}

.main-header__section .main-header__section_adress {
    color: #32425c;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
}

.main-header__section_authorized .main-header__section_profile {
    font-size: 21px;
    line-height: 21px;
    color: #000000;
}

.main-header__section_authorized {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.main-header__section_authorized li:first-of-type {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 45px;
}

.main-header__section_profile {
    display: flex;
    margin-left: 14px;
    margin-bottom: 2px;
    vertical-align: top
}

.main-header__section_profile span {
    display: inline-block;
    margin-right: 13px;
    margin-top: 2px;
    width: 20px;
    height: 18px;
    background-image: url(img/general/icon/user.svg);
    opacity: 0.3
}

.main-header__section_exit-profile {
    width: 20px;
    height: 17px;
    margin-right: 11px;
    margin-left: auto;
    background-image: url(img/general/icon/logout.svg);
    opacity: 0.3
}

.main-header__section_authorized li:first-of-type:hover span,
.main-header__section_authorized li:first-of-type:hover .main-header__section_exit-profile {
    opacity: 1
}


.main-header__section_authorized li:last-of-type {
    background-color: transparent;
}

.section_authorized-links {
    margin: 0;
    margin-top: 7px;
    margin-left: 18.5px
}

.section_authorized-links a {
    font-size: 16px;
    line-height: 18px;
    text-decoration: underline;
}

.section_authorized-links a:last-of-type {
    position: relative;
    margin-left: 29px
}

.section_authorized-links a:last-of-type::before {
    position: absolute;
    content: "";
    width: 4px;
    height: 4px;
    background-color: #32425c;
    border-radius: 50%;
    left: -17px;
    top: 8px
}

.section_authorized-links a:hover,
.section_authorized-links a:focus {
    color: #ee3643
}

.section_authorized-links a:active {
    color: #32425c;
    opacity: 0.3
}

.main-header__section_not-authorized,
.main-header__section_authorized {
    list-style: none;
}

.main-header__section_not-authorized {
    display: flex;
    margin: 0;
    padding: 0;
    height: 45px
}

.main-header__section_not-authorized li {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 10px;
}

.main-header__section_not-authorized li:first-of-type {
    width: 121px;
    padding-right: 26px
}

.main-header__section_not-authorized li:last-of-type {
    width: 150px;
    padding-right: 24px
}

.main-header__section_not-authorized .btn {
    font-size: 21px;
    line-height: 21px;
    color: #000000
}

.main-header__section_not-authorized li:hover a,
.main-header__section_not-authorized li:focus a {
    color: #ee3643
}

.main-header__section_not-authorized li:active a {
    color: #000000;
    opacity: 0.3
}

.main-header__section_btn-enter {
    position: relative;
}

.main-header__section_btn-enter::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 17px;
    left: -32px;
    top: 2px;
    background-image: url(img/general/icon/login.svg);
}

.main-header__section .hidden {
    display: none;
}




.main-header__nav {
    display: flex;
    align-items: center;
    width: 940px;
    height: 60px;
    margin: auto;
    margin-bottom: 60px;
    background-color: #32425c;
    box-shadow: inset 0px -5px 0 0 #293449;
}

.main-header__nav_items {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-bottom: 2px;
}

.main-header__nav_items li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 58px;
}

.main-header__nav_items li:nth-of-type(1) {
    padding: 0 32px 0 52px;
}

.main-header__nav_items li:nth-of-type(2) {
    padding: 0 29px 0 32px;
}

.main-header__nav_items li:nth-of-type(3) {
    padding: 0 30px 0 29px;
}

.main-header__nav_items li:nth-of-type(4) {
    padding: 0 29px 0 30px;
}

.main-header__nav_items li:nth-of-type(5) {
    padding: 0 31px 0 30px;
    /*letter-spacing: 0.005em*/
}

.main-header__nav_items li:nth-of-type(6) {
    padding: 0 32px 0 31px;
}

.main-header__nav_items li:nth-of-type(7) {
    padding: 0 53px 0 31px;
}

.main-header__nav_items li:hover,
.main-header__nav_items a:focus {
    background-color: #293449;
}

.main-header__nav_items li:active {
    background-color: #1d2739
}

.main-header__nav a {
    font-size: 17px;
    line-height: 17px;
    color: #ffffff;
}

main .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ee3643;
    border-radius: 3px;
    color: #ffffff;
    text-transform: uppercase;
    width: 253px;
    height: 38px;
    font-size: 14px;
    line-height: 18px
}




/*OFFERS*/
.offers {
    width: 940px;
    margin: auto;
    color: #ffffff;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 33px;
    margin-top: 59px
}

.offers__container {
    display: flex;
}

.offers__container_left-column {
    display: flex;
    flex-direction: column;
}

.left-column_top {
    display: flex;
    padding: 0;
    margin: 0;
}

.left-column_top li:first-of-type {
    margin-right: 20px;
}

.offers__slides {
    padding: 0;
    margin: 0;
}

.offers__slides li {
    width: 620px;
    height: 266px;
}

.offers .card {
    width: 300px;
    height: 123px;
    margin-bottom: 20px
}

.offers h3 {
    margin: 0;
    font-size: 24px;
    line-height: 30px;
    margin: 21px 0px 12px 22px;
}

.offers .offers__btn {
    width: 135px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.1);
    margin-left: 25px
}

.offers .offers__btn:hover,
.offers .offers__btn:focus {
    background-color: rgba(0, 0, 0, 0.2);
}

.offers .offers__btn:active {
    background-color: rgba(0, 0, 0, 0.3);
}

.offers__container_right-column {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    margin-left: 20px;
}

.offers__container_right-column .offers__btn {
    margin-left: 23px   /*pixcel perfect*/
}


.offers__materials {
    position: relative;
    background-color: #ffbf47;
    background-image: url(img/general/icon/materials.svg);
    background-repeat: no-repeat;
    background-position: 213px 31px
}

.offers__materials::before {
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    width: 60px;
    height: 59px;
    background-image: url(img/general/new-flag.png);
}

.offers__tools {
    background-color: #3bbce3;
    background-image: url(img/general/icon/tools.svg);
    background-repeat: no-repeat;
    background-position: 197px 33px
}

.offers__drills,
.offers__perforators {
    background-color: #000000;
}

.offers__slides a {
    width: 195px;
    height: 38px;
    background-color: #ee3643;
}

.offers__drills h3,
.offers__perforators h3 {
    margin: 0;
    text-transform: uppercase;
}

.offers__equipment {
    background-color: #dc91d8;
    background-image: url(img/general/icon/equipment.svg);
    background-repeat: no-repeat;
    background-position: 191px 31px
}

.offers__discounts {
    background-color: #8ed78f;
    background-image: url(img/general/icon/discounts.svg);
    background-repeat: no-repeat;
    background-position: 196px 26px
}

.offers__delivery {
    background-color: #ffc047;
    background-image: url(img/general/icon/delivery.svg);
    background-repeat: no-repeat;
    background-position: 191px 32px
}

/*POPULAR*/
.popular-product {
    display: flex;
    flex-direction: column;
    width: 940px;
    margin: auto;
}

.title__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f5f0;
    width: 940px;
    height: 89px;
    padding: 0 24px 0 28px;
}

.popular-product .btn {
    /*letter-spacing: 0.55px;*/
    margin-bottom: 1px;
    padding-top: 1px
}

.popular-product__title {
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 30px;
}

.popular-product__cards {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    margin: 20px 0 21px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: bold;
    text-align: center;
}

.popular-product__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border: 1px solid #eaeaea;
    width: 220px
}

.popular-product__card:hover {
    box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.popular-product__card:hover img {
    visibility: hidden;
}

.popular-product__card a {
    visibility: hidden;
}

.popular-product__card:hover .popular-product__card_btn-hover {
    visibility: visible;
}

.popular-product__card img {
    border: inset 1px solid #eaeaea;
}

.popular-product__card:nth-of-type(4)::before {
    position: absolute;
    top: -1px;
    right: -1px;
    content: "";
    width: 60px;
    height: 59px;
    background-image: url(img/general/new-flag.png);
}

.popular-product__card h3 {
    margin: 0;
    padding: 0;
    width: 160px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
    margin-top: 8px;
    margin-bottom: auto
}

.popular-product__cards a {
    position: absolute;
    font-size: 14px;
    line-height: 18px;
    font-family: "Cuprum", Arial, sans-serif;
    font-weight: normal;
}

.popular-product__card_btn-hover:first-of-type {
    top: 45px;
    width: 135px;
    color: #ffffff;
    background-color: #63a63e;
    box-shadow: inset 0 -3px 0 0 #367315;
    padding-left: 3px;
    /*letter-spacing: -0.01px*/
}

.popular-product__card_btn-hover:first-of-type::before {
    position: absolute;
    left: 12px;
    content: "";
    width: 15px;
    height: 15px;
    background-image: url(img/general/icon/basket.svg);
    opacity: 0.3;
}

.popular-product__card_btn-hover:first-of-type:hover,
.popular-product__card_btn-hover:first-of-type:focus {
    background-color: #5fbb2d;
}

.popular-product__card_btn-hover:first-of-type:active {
    background-color: #518534;
}

/*.popular-product__card_btn-hover:first-of-type:hover
.popular-product__card_btn-hover:first-of-type::before {
    position: absolute;
    left: 12px;
    content: "";
    width: 15px;
    height: 15px;
    background-image: url(img/general/icon/basket.svg);
}*/


.popular-product__card_btn-hover:last-of-type {
    top: 90px;
    width: 135px;
    color: #32425c;
    background-color: #ffffff;
    border: 3px solid #63a63e;
    padding-left: 3px;
    /*letter-spacing: -0.01px*/
}

.popular-product__card_btn-hover:last-of-type:hover,
.popular-product__card_btn-hover:last-of-type:focus {
    border-color: #32425c;
}

.popular-product__card_btn-hover:last-of-type:active {
    border-color: #32425c;
    opacity: 0.3;
}

.popular-product__card span:first-of-type {
    font-size: 17px;
    line-height: 18px;
    color: #a9a9a9;
    text-decoration: line-through;
    margin: 12px 0 10px 3px;
}

.popular-product__card span:last-of-type {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 122px;
    margin-right: 13px;
    margin-bottom: 20px;
    border-radius: 3px 0 0 3px;
    padding-left: 17px;
    padding-bottom: 1px;
    height: 38px;
    font-size: 17px;
    line-height: 19px;
    color: #ffffff;
    background-color: #ee3643;
}

.popular-product__card span:last-of-type::after {
    position: absolute;
    top: 0;
    right: -38px;
    content: "";
    width: 0;
    height: 0;
    border: 19px solid white;
    border-left:  19px solid #ee3643;
    background-color: transparent;
}



/*---------------------------MANUFACTURER----------------------------*/
.popular-manufacturer {
    width: 940px;
    margin: auto;
}

.popular-manufacturer__title {
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 30px;
}

.popular-manufacturer .btn {
    /*letter-spacing: 0.45px;*/
    margin-bottom: 1px;
    padding-bottom: 1px;
    padding-left: 1px;
}

.popular-manufacturer__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 85px;
}

.popular-manufacturer__list li {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #eaeaea;
    width: 220px;
    height: 145px;
    margin-top: 20px;
}

.popular-manufacturer__list li:nth-of-type(1) {
    padding-top: 3px;
}

.popular-manufacturer__list li:nth-of-type(2) {
    padding-right: 1px;
}

.popular-manufacturer__list li:nth-of-type(4) {
    padding-bottom: 10px;
    padding-right: 2px
}

.popular-manufacturer__list li:nth-of-type(5) {
    padding-top: 7px;
    padding-left: 5px
}

.popular-manufacturer__list li:nth-of-type(6) {
    padding-top: 3px;
    padding-right: 3px
}

.popular-manufacturer__list li:nth-of-type(7) {
    padding-top: 2px;
    padding-left: 1px
}

.popular-manufacturer__list li:nth-of-type(8) {
    padding-bottom: 3px;
    padding-left: 4px
}



/*---------------------------MIDDLE SECTION----------------------------*/
.main-middle {
    background-color: #f4f7f9;
    margin-bottom: 79px;/*необходима правка*/
}

.main-middle_container {
    display: flex;
    flex-direction: column;
    width: 940px;
    margin: auto;
}

.main-middle h2 {
    margin: 0;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    margin-top: 65px;
    margin-bottom: 25px;
    /*letter-spacing: -0.8px*/
}

.main-middle  p {
    margin: 0;
    font-size: 13px;
    line-height: 24px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: 400;
    /*letter-spacing: 0.05px*/
}

.main-middle_container > p {
    width: 400px;
    margin-bottom: 68px;
}

.main-middle__tabs {
    display: flex;
}

.main-middle__list {
    margin: 0;
    padding: 0;
    margin-top: 2px;
    position: relative;
    list-style: none;
}

.main-middle__list li {
    display: flex;
    align-items: center;
    width: 240px;
    height: 61px;
    padding-left: 22.5px;
    margin-bottom: 1px;
    padding-bottom: 2px;
    background-color: #32425c;
    box-shadow:
    0 1px 0 0 #293449,
    inset 0 1px 0 0 #405069;
}

.main-middle__list a {
    font-size: 21px;
    line-height: 30px;
    /*letter-spacing: 0.6px;*/
}

.main-middle__list li.active {
    background-color: #ffffff;
    box-shadow:
    0 1px 0 0 #ffffff,
    inset 0 1px 0 0 #ffffff;
}

li.active a {
    color: #32425c;
}

.main-middle__list a {
    color: #ffffff;
    font-size: 21px;
    line-height: 30px;
    vertical-align: middle;
}

.main-middle__list::after {
    position: absolute;
    right: 0;
    top: -25%;
    content: "";
    display: block;
    width: 10px;
    height: 279px;
    background-image: url(img/index/menu-border.png);
    background-repeat: no-repeat;
}

.main-middle__tabs-container {
    flex-grow: 1;
    background-image: url(img/index/delivery.png);
    margin-right: 1px;
    min-height: 286px;
    background-repeat: no-repeat;
    background-position: right bottom;
}

.main-middle__tab h3 {
    margin: 0;
    margin-bottom: 24px;
    text-transform: uppercase;
    color: #32425c;
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
    /*letter-spacing: 0.4px*/
}

.main-middle__tab {
    position: relative;
    margin-left: 80px;
}

.main-middle__tab p {
    margin: 0;
    width: 280px;
    font-family: "PT Sans", "Arial", sans-serif;
}

.main-middle__tab:not(.active) {
    display: none;
}



/*---------------------------BOTTOM SECTION----------------------------*/
.main-bottom {
    display: flex;
    justify-content: space-between;
    width: 940px;
    margin: auto;
    padding-bottom: 86px
}

.main-bottom h2 {
    margin: 0;
    text-transform: uppercase;
    margin-bottom: 25px;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
}

.main-bottom p {
    margin: 0;
    font-size: 13px;
    line-height: 24px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: normal; /*Как не крути а шрифт жирный*/
}

.main-bottom p:first-of-type {
    margin-bottom: 24px;
}

.main-bottom p:last-of-type {
    margin-bottom: 21.5px;
}

.main-bottom__company {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 519px;
}

.main-bottom__delivery-list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: auto;
}

.main-bottom__delivery-list a {
    color: #000000;
    font-size: 18px;
    line-height: 20px;
}

.main-bottom__delivery-list li {
    position: relative;
    padding-left: 36px;
    margin-bottom: 19.5px
}

.main-bottom__delivery-list li::before {
    position: absolute;
    top: 10px;
    left: 0px;
    content:  "";
    width: 25px;
    height: 2px;
    background-color: #ee3643
}

.main-bottom__delivery-list li:last-of-type::before {
    top: 8px
}

.main-bottom__contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-bottom__contacts a:first-of-type {
    width: 300px;
    height: 158px;
    margin-bottom: auto;
    margin-top: 10.5px
}

.main-bottom .btn {
    margin-top: 16.5px;
    font-size: 14px;
    line-height: 18px
}

.main-bottom__company .btn {
    padding: 1px 0 0 1px;
    width: 220px
}

.main-bottom__contacts .btn {
    padding: 1px 0 0 5px;
    width: 300px
}




/*--------------------------FOOTER--------------------------*/
.main-footer {
    display: flex;
    flex-direction: column;
    background-color: #32425c
}

.main-footer__top {
    display: flex;
    justify-content: space-between;
    width: 940px;
    margin: auto;
    margin-bottom: 27.5px;
}

.main-footer__logo {
    padding: 20px 41px;
    width: 220px;
    height: 68px;
    background-color: #ee3643;
    box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.24)
}

.main-footer__cite-nav {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 37px;
    display: flex;
    justify-content: flex-end;
}

.main-footer__cite-nav a {
    color: #ffffff;
    font-size: 18px;
    line-height: 24px;
    margin-left: 60px;
}

.main-footer__middle {
    display: flex;
    justify-content: space-between;
    width: 940px;
    margin: auto;
    margin-bottom: 49.5px;
}

.main-footer__middle p {
    margin: 0;
    margin-left: 3px;
    color: #ffffff;
    font-size: 18px;
    line-height: 24px;
    width: 325px
}

.main-footer__middle a:first-of-type {
    font-size: inherit;
    color: inherit;
}

.main-footer__offers-nav {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-footer__offers-nav li {
    font-size: 18px;
    line-height: 24px;
    color: #ffd180;
    margin-left: 60px
}

.main-footer__bottom_container {
    background-color: #293449
}

.main-footer__bottom {
    display: flex;
    width: 940px;
    margin: auto;
    padding: 35px 0 30px
}
.main-footer__social {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-footer__social li {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: #212a3a;
    margin-right: 3px;
    margin-bottom: 0px
}

.main-footer__social li:nth-of-type(1) {
    background-image: url(img/general/icon/vk.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.main-footer__social li:nth-of-type(2) {
    background-image: url(img/general/icon/fb.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.main-footer__social li:nth-of-type(3) {
    background-image: url(img/general/icon/insta.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.main-footer__bottom p {
    margin: 0;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff
}

.main-footer__bottom p:nth-of-type(1) {
    width: 230px;
    margin-right: 160px;
    margin-top: 2px
}

.main-footer__bottom p:nth-of-type(2) {
    width: 135px;
    margin: 2px 53px 0 auto;
}

.main-footer__bottom p:nth-of-type(3) {
    width: 96px;
    margin-right: 15px;
    margin-top: 2px
}

.main-footer__bottom a {
    font-size: 16px;
    line-height: 18px;
    color: #ffd180
}




/*-----------------------CATALOG.HTML----------------------*/
.catalog {
    display: flex;
    flex-direction: column;
    width: 940px;
    margin: auto;
    font-family: "PT Sans", "Arial", sans-serif;
}

.catalog__breadcrumbs {
    position: relative;
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 18px;
    margin: 25px 0;
}

.catalog__breadcrumbs li:not(:first-of-type) a {
    position: relative;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 18px;
    color: #000000
}

.catalog__breadcrumbs li:first-of-type::before {
    position: absolute;
    content: "";
    width: 14px;
    height: 12px;
    background-image: url(img/general/icon/home.svg);
    left: 0;
    top: 2px
}

.catalog__breadcrumbs li:nth-of-type(2) {
    margin-left: 55px;
}

.catalog__breadcrumbs li:nth-of-type(3) {
    margin-left: 39px;
}

.catalog__breadcrumbs li:nth-of-type(4) {
    margin-left: 43px;
}

.catalog__breadcrumbs li:not(:first-of-type)::before {
    position: absolute;
    content: "";
    width: 8px;
    height: 12px;
    background-image: url(img/general/icon/right-small.svg);
    top: 2px;
}

.catalog__breadcrumbs li:nth-of-type(2)::before {
    left: 29px
}

.catalog__breadcrumbs li:nth-of-type(3)::before {
    left: 120px
}

.catalog__breadcrumbs li:nth-of-type(4)::before {
    left: 240px
}

.catalog__perforators {
    display: flex;
    flex-direction: column;
}

.catalog__perforators_title {
    margin: 0;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 30px;
    font-family: "Cuprum", Arial, sans-serif;
    background-color: #f2f6f8;
    width: 940px;
    height: 89px;
    padding-top: 32px;
    padding-left: 30px;
    margin-bottom: 20px
}

.catalog__perforators_container {
    display: flex;
}

.catalog__perforators_filter {
    text-transform: uppercase;
}

.catalog__perforators h2 {
    margin: 0;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
}

.catalog__perforators_filter h2 {
    background-color: #f7f3ec;
    width: 220px;
    height: 38px;
    padding-top: 14px;
    padding-left: 18px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.catalog__perforators_filter h3 {
    margin: 0;
    font-size: 17px;
    line-height: 30px;
}

.catalog__perforators_price input {
    font-size: 17px;
    line-height: 18px;
    text-align: center;
    background-color: #f7f3ec;
    border: none;
}

.catalog__perforators_price input[type="range"] {
    width: 220px;
    height: 80px;
}

.catalog__perforators_price-value {
    display: flex;
    justify-content: space-between;
    height: 38px;
    margin-right: 20px;
    margin-bottom: 25px;
}

.catalog__perforators_price-value input {
    width: 95px
}

.catalog__perforators_filter ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.catalog__perforators_manufacturer {
    padding-top: 25px;
    padding-bottom: 27px;
    border: 1px solid #c5c5c5;
    border-left: none;
    border-right: none;
}

.catalog__perforators_manufacturer h3 {
    margin-bottom: 25px;
}

.catalog__perforators_power h3 {
    margin-top: 26px;
    margin-bottom: 27px
}

.catalog__perforators_manufacturer li,
.catalog__perforators_power li {
    margin-bottom: 15px
}

.catalog__perforators_manufacturer label,
.catalog__perforators_power label {
    position: relative;
    margin-left: 10px;
    cursor: pointer;
}

.catalog__perforators_manufacturer label::before,
.catalog__perforators_power label::before {
    position: absolute;
    top: 0px;
    left: -25px;
    width: 20px;
    height: 20px;
    border: 2px solid #c5c5c5;
    background-color: #ffffff;
    border-radius: 2px;
    content: "";
}

.catalog__perforators_power label::before {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 5px solid #c5c5c5;
}

.catalog__perforators_manufacturer label::after,
.catalog__perforators_power label::after {
    position: absolute;
    top: 0px;
    left: -15px;
    z-index: 1;
    width: 0px;
    height: 0px;
    content: "";
    opacity: 0;
    transform: rotate(135deg);
    transition: 0.2s ease-in;
}

.catalog__perforators_power label::after {
    top: 7px;
    left: -30px;
    border-radius: 50%
}

.catalog__perforators_manufacturer input[type="checkbox"]:checked ~ label::after {
    top: -8px;
    left: -34px;
    width: 22px;
    height: 9px;
    box-shadow:
        0px -1px white,
        4px -5px #c5c5c5,
        0px -6px white;
    opacity: 1;

}

.catalog__perforators_power input[type="radio"]:checked ~ label::after {
    top: 4px;
    left: -31px;
    width: 10px;
    height: 10px;
    background-color: #c5c5c5;
    opacity: 1;
}

.catalog__perforators_sort-container {
    display: flex;
    flex-direction: column;
}

.catalog__perforators_sorting {
    display: flex;
    text-transform: uppercase;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    line-height: 18px;
    background-color: #f7f3ec;
    width: 700px;
    height: 38px
}

.catalog__perforators_sorting a {
    color: #000000;
    opacity: 0.3;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: #ee3643;
}

.catalog__perforators_sorting .sorting-selected {
    text-decoration: none;
    color: #ee3643;
    opacity: 1
}

.catalog__perforators_products ul {
    display: flex;
    flex-wrap: wrap;
}

.catalog__paginator {
    margin-left: 370px;
    margin-bottom: 60px
}

.catalog__paginator ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.catalog__paginator_page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 38px;
    border: 1px solid #c5c5c5;
    border-radius: 3px;
    margin-right: 10px
}

.catalog__paginator_page:not(:last-of-type) {
    width: 38px;
}

.catalog__paginator_page:last-of-type {
    width: 140px;
}

.catalog__paginator_page a {
    display: block;
    color: #000000;
    text-transform: uppercase;
}

.catalog__paginator_page.selected {
    background-color: #ee3643;
}

.catalog__paginator_page.selected a {
    color: #ffffff;
}

.catalog__about {
    background-color: #f4f7f9;
}

.catalog__about div {
    width: 940px;
    margin: auto;
}

.catalog__about h2 {
    margin: 0;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    padding-top: 67px;
    margin-bottom: 30px
}

.catalog__about article {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 24px;
    padding-bottom: 73px
}
/*
font-family: "PT Sans", "Arial", sans-serif;
font-family: "Cuprum", Arial, sans-serif;*/
